<ion-header>
  <ion-navbar color="primary-dark">
    <button ion-button menuToggle color="white">
      <ion-icon name="menu" class="menu-toggle-white"></ion-icon>
    </button>
    <ion-title>Imoveis</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div style="height: 100%;" id="map_canvas"></div> 
   <ion-fab right bottom>
    <button ion-fab color="303F9F"(click)="sugestao()"><ion-icon name="md-add" ></ion-icon></button>
    <!--<ion-fab-list side="top">
      <button ion-fab ><ion-icon name="ios-add-circle" (click)="sugestao()"></ion-icon></button>
    </ion-fab-list>-->
  </ion-fab>

</ion-content>
