page-lotes-centroides {
    .menu-toggle-white {
        color: #f4f4f4;
        background-color: #143c85;
    }
    .icon-md-white {
        color: black !important;
    }
    .card-md {
        background: #143c85;
    }
    .content-md {
        color: white;
        background-color: #fff;
    }

    .task{
        color: #fff;
        height: 28px;
        padding: 5px;
        margin: 10px;
        border-radius: 4px;
        width: calc(100% - 20px);
        font-size: 1.5rem;
    }
}