i<ion-header>
  <ion-navbar color="primary-dark">
    <button ion-button menuToggle color="white">
      <ion-icon name="menu" class="menu-toggle-white"></ion-icon>
    </button>
    <ion-title>Imoveis</ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="alterViewNotNetWork == false">
    <ion-searchbar placeholder="Nome do Propietario ou CPF ..."  [(ngModel)]="searchTerm" showCancelButton (ionCancel)="cancelSearch()">
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="filterItems()">
        <ion-icon color="white" name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="filter == false">
      <div>
          <ion-card class="task" *ngFor="let i of imoveis" (click)="openMap(i)">
           <ion-icon name="ios-person" ></ion-icon> 
            {{i["Proprietario Principal"]? i["Proprietario Principal"]: "Sem nome no registro"}}
            
      
          </ion-card>
        </div>
        <ion-infinite-scroll *ngIf="filter == false" (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Buscando mais bairros...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
  </ng-container>
  <ng-container *ngIf="filter == true">
      <div>
          <ion-card class="task" *ngFor="let i of imoveis_filter" (click)="openMap(i)">
            <ion-icon name="ios-person" ></ion-icon>
             {{i["Proprietario Principal"]? i["Proprietario Principal"]: "Sem nome no registro"}}
            
      
          </ion-card>
        </div>
        <ion-infinite-scroll *ngIf="filter == true" (ionInfinite)="doInfiniteFilter($event)" >
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Buscando mais bairros...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
  </ng-container>


</ion-content>