page-home {

    .button-outline-md, .button-md {
        border-width: 1px;
        border-style: solid;
        border-color: #17459b;
        color: #17459b;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 10px;
        overflow: hidden;
        height: 10.6rem;
        font-size: 2.4rem;
        font-weight: 100;
        text-transform: uppercase;
        margin: auto;
        padding: 0 1.5em;
    }
}
