<ion-header>
  <ion-navbar color="primary-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
    <div style="height: 100%;" id="map_canvas"></div> 
    <ion-fab right bottom>
     <button ion-fab color="303F9F"(click)="sugestao()"><ion-icon name="md-add" ></ion-icon></button>
   </ion-fab>
</ion-content>