<!--
  Generated template for the EconomicDetalhePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-navbar color="primary-dark">
    <ion-title>Economico Detalhe</ion-title>
      </ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div>
        <ion-card >
            <ion-item>
                <div text-wrap *ngIf="economico">
                    <ion-icon name="custom-proprietario" ></ion-icon>
                    Proprietario: {{economico["Proprietario Principal"] ? economico["Proprietario Principal"] : 'Dado não econtrado' }}<br>
                    <ion-icon name="custom-cnpj" ></ion-icon>
                    CPF/CNPJ: {{economico["CPF/CNPJ"] ? economico["CPF/CNPJ"] : 'Dado não econtrado'}}<br>
                    <ion-icon name="ios-person" ></ion-icon>
                    Tipo de Pessoa: {{economico["Tipo de Pessoa"] ? economico["Tipo de Pessoa"] : 'Dado não econtrado'}}<br>
                    <ion-icon name="custom-nomefanta" ></ion-icon>
                    Nome Fantasia: {{economico["Nome Fantasia"] ? economico["Nome Fantasia"] : 'Dado não econtrado'}}<br>
                    <ion-icon name="custom-razaosocial" ></ion-icon>
                    Razao Social: {{economico["Razao Social"] ? economico["Razao Social"] : 'Dado não econtrado'}}<br>
                    <ion-icon name="custom-bairro" ></ion-icon>
                    Bairro: {{economico["imoveis_bairro"] ? economico["imoveis_bairro"] : 'Dado não econtrado'}}<br>
                    <ion-icon name="custom-cep" ></ion-icon>
                    Cep: {{economico["imoveis_cep"] ? economico["imoveis_cep"] : 'Dado não econtrado'}}<br>
                    <ion-icon name="custom-cpf" ></ion-icon>
                    Cpf: {{economico["imoveis_cpf"] ? economico["imoveis_cpf"] : 'Dado não econtrado'}}<br>
                    <ion-icon name="custom-logradouro" ></ion-icon>
                    Logradouro: {{economico["imoveis_logradouro"] ? economico["imoveis_logradouro"] : 'Dado não econtrado'}}<br>
                    <ion-icon name="custom-rua" ></ion-icon>
                    Rua: {{economico["imoveis_rua"] ? economico["imoveis_rua"] : 'Dado não econtrado'}}<br>
                    <ion-icon name="ios-person" ></ion-icon>
                    Tipo de Inscricao: {{economico["Tipo de Inscricao"] ? economico["Tipo de Inscricao"] : 'Dado não econtrado'}}<br>
                    <ion-icon name="custom-cartografia" ></ion-icon>
                    Inscricao Cartografica: {{economico["Inscricao Cartografica"] ? economico["Inscricao Cartografica"] : 'Dado não econtrado'}}<br>
                    <ion-icon name="ios-create" ></ion-icon>
                    Inscricao Imobiliaria: {{economico["Inscricao Imobiliaria"] ? economico["Inscricao Imobiliaria"] : 'Dado não econtrado'}}<br>
                    <ion-icon name="md-create" ></ion-icon>
                    Inscrição municipal: {{economico["Inscrição municipal"] ? economico["Inscrição municipal"] : 'Dado não econtrado'}}<br>
                    <ion-icon name="ios-person" ></ion-icon>
                    Situacao SIAT: {{economico["Situacao SIAT"] ? economico["Situacao SIAT"] : 'Dado não econtrado'}}<br>
                    <!--lat:-- {{item["lat"]}}<br>
                    long:-- {{item["long"]}}<br>-->
                
              </div>
            </ion-item>
          </ion-card>
      </div>
<div style="background-color:white">
      <ion-list>
        <ion-item>
          <ion-label floating>Proprietário</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label floating>CPF/CNPJ</ion-label>
          <ion-input type="text" name="cpf" [brmasker]="{person: true}"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>CEP</ion-label>
            <ion-input type="text" name="cep" [brmasker]="{mask:'00.000-000', len:10}"></ion-input>
          </ion-item>
      </ion-list>
    </div>
      <div padding>
        <button ion-button block>Salvar</button>
      </div>
        
</ion-content>
