page-economic-detalhe {
    font-family: Intro;
    .menu-toggle-white {
        color: #f4f4f4;
        background-color: #143c85;
    }
    .icon-md-white {
        color: black !important;
    }
    .card-md {
        background: #143c85;

        .item-md {
            background-color: #143c85;
        }
    }
    .content-md {
        color: white;
        background-color: #fff;
    }

    .task{
        color: #fff;
        //height: 278px;
        padding: 5px;
        margin: 10px;
        border-radius: 4px;
        width: calc(100% - 20px);
        font-size: 1.5rem;
    }
    .toolbar-background-md{
        border-color: #b2b2b2;
        background: #143c85
    }
    .bar-button-default-md{
        color: #fff;
        background-color: transparent;
    }
    .item-md{
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #fff;
    }

    
    .fab-md{
        color: #fff;
        background-color: #448AFF;
    }
    

}
