page-signin {
    .btn-login {
        width: 200px;
        margin: auto;
        margin-bottom: 7px;
        margin-top: 65px;
    }
      
    .gmail {
        margin: auto;
        margin-top: 6px;
        background-color: color($colors,"gmail-color");
    }
      
    .facebook {
        background-color: color($colors,"facebook-color");
        margin: auto;
    }
      
      
    .input-icon {
        font-size: 26px;
        color: lightGray;
    }
      
    .app-footer {
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
      
    .caderneta-login-prodater {
        width: 100px;
        float: right;
    }
      
    .btn-footer {
        background-color: rgba(0,0,0,0);
        height: 90%;
    }
      
    .left {
        float: left;
    }
    
    .right {
        float: right;
    }
}
