<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar color="white" class="menu-toolbar">
      <button class="menu-btn-toolbar">
        <!--<img><ion-icon class="menu-icon" name="ios-locate"></ion-icon>-->
        <span class="app-titulo">Mapeamento</span>
      </button>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu-content">
    <ion-list no-lines class="menu-list" *ngFor="let p of pages">

      <ion-item class="menu-item" (click)="openPage(p)">

        <ion-grid no-padding>
          <ion-row>
            <ion-col >
              <div >
                <ion-row><div ><ion-icon class="menu-icon" name="{{p.icon}}"></ion-icon> <span class="text">{{p.title}}</span></div></ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>

      <ion-item-group submenu [class.visible]="!p.hidden">
        <ion-item submenu-item *ngFor="let s of p.subs" class="submenu-item" (click)="openPage(s)">
        <ion-grid no-padding>
          <ion-row>
            <ion-col >
              <div >
                <ion-row><div ><ion-icon class="menu-icon" name="{{s.icon}}"></ion-icon> <span class="text">{{s.title}}</span></div></ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        </ion-item>

      </ion-item-group>

    </ion-list>
  </ion-content>

  <ion-footer >
    <ion-toolbar>
      <button class="menu-btn-icon" color="primary" mode="ios" icon-end clear ion-button (click)="logout()">
        Sair
        <ion-icon name="ios-exit-outline"></ion-icon>
      </button>
    </ion-toolbar>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
