// http://ionicframework.com/docs/theming/

@font-face {
    font-family: Intro;
    src: url(../assets/fonts/Intro/Intro.otf) format("opentype");
}

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-price"] {
    mask-image: url(../assets/icon/price-icon.svg);
  }
  &[class*="custom-car"] {
    mask-image: url(../assets/icon/car-icon.svg);
  }
  &[class*="custom-car2"] {
    mask-image: url(../assets/icon/car2-icon.svg);
  }
  &[class*="custom-place"] {
    mask-image: url(../assets/icon/place-icon.svg);
  }
  &[class*="custom-date"] {
    mask-image: url(../assets/icon/date-icon.svg);
  }
  &[class*="custom-time"] {
    mask-image: url(../assets/icon/time-icon.svg);
  }
  &[class*="custom-hourglass"] {
    mask-image: url(../assets/icon/hourglass-icon.svg);
  }
  &[class*="custom-bucket"] {
    mask-image: url(../assets/icon/bucket-icon.svg);
  }
  &[class*="custom-ren"] {
    mask-image: url(../assets/icon/ren-icon.svg);
  }
  &[class*="custom-number"] {
    mask-image: url(../assets/icon/number-icon.svg);
  }
  &[class*="custom-sheet"] {
    mask-image: url(../assets/icon/sheet-icon.svg);
  }
  &[class*="custom-link"] {
    mask-image: url(../assets/icon/link-icon.svg);
  }
  &[class*="custom-bills"] {
    mask-image: url(../assets/icon/bills-icon.svg);
  }
  &[class*="custom-cog"] {
    mask-image: url(../assets/icon/cog-icon.svg);
  }
  &[class*="custom-appeals"] {
    mask-image: url(../assets/icon/appeals-icon.svg);
  }
  &[class*="custom-info"] {
    mask-image: url(../assets/icon/info-icon.svg);
  }
  &[class*="custom-padlock"] {
    mask-image: url(../assets/icon/padlock-icon.svg);
  }
  &[class*="custom-person"] {
    mask-image: url(../assets/icon/person-icon.svg);
  }
  &[class*="custom-traffic-lights"] {
    mask-image: url(../assets/icon/traffic-lights-icon.svg);
  }
  &[class*="custom-city"] {
    mask-image: url(../assets/icon/city-icon.svg);
  }
  &[class*="custom-bairros"] {
    mask-image: url(../assets/icon/home-group.svg);
  }
  &[class*="custom-lotes"] {
    mask-image: url(../assets/icon/house.svg);
  }
  &[class*="custom-proprietario"] {
    mask-image: url(../assets/icon/Propietario.svg);
  }
  &[class*="custom-cnpj"] {
    mask-image: url(../assets/icon/cnpj.svg);
  }
  &[class*="custom-nomefanta"] {
    mask-image: url(../assets/icon/nomefanta.svg);
  }
  &[class*="custom-razaosocial"] {
    mask-image: url(../assets/icon/razaosocial.svg);
  }
  &[class*="custom-bairro"] {
    mask-image: url(../assets/icon/bairro.svg);
  }
  &[class*="custom-cep"] {
    mask-image: url(../assets/icon/cep.svg);
  }
  &[class*="custom-cpf"] {
    mask-image: url(../assets/icon/cpf.svg);
  }
  &[class*="custom-logradouro"] {
    mask-image: url(../assets/icon/logradouro.svg);
  }
  &[class*="custom-rua"] {
    mask-image: url(../assets/icon/rua.svg);
  }
  &[class*="custom-cartografia"] {
    mask-image: url(../assets/icon/cartografia.svg);
  }
}

.menu-btn-toolbar {
  height:50px;
  background-color:rgba(0,0,0,0);
}

.menu-brasao {
  vertical-align: middle;
  height:50px;
  width:50px
}

.app-titulo{
  margin: 10px;
  height: 50px;
  text-align: left;
  color: black;
  font-family: Intro !important;
  font-size: 19px;
  background-color: rgba(0,0,0,0);
}

.menu-toolbar {

  padding: 0px;
  height: 75px;
}

.app-titulo{
  color: white !important;
}

.menu-btn-icon {
    font-size: 16px;
    float: right;
    display: inline-block;
    height: 24px;
}

.menu-alt-button{
    background-color: rgba(0,0,0,0.0);
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    margin-left: 10px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.menu-label {
    display: inline-block;
    vertical-align: baseline;
    font-size: 15px !important;
    font-weight: normal;
    height: 25px;
    margin-left: 10px;
    color: color($colors,primary-darker);
    text-transform: none;
}

.menu-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    color: color($colors,primary-darker);
}

.menu-content {
    background-color: rgb(246,246,246);
    color: color($colors,primary-darker);
}

.menu-list{
  margin-bottom: 0px;
}

.menu-item {
    height: 60px;
    background-color: rgb(246,246,246);
    padding-left: 0px;
    padding-right: 0px;
    color: color($colors,primary-darker);
}

.submenu-item {
    width:100%;
    height: 50px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(236,236,236);
    color: color($colors,primary-darker);
}

.menu-icon {
  margin-left: 20px;
  margin-right: 10px;
 display: inline-block;
 font-size: 25px;
 color: color($colors,primary-darker);
 vertical-align: middle;
}

.text{
  display: inline-block;
  vertical-align: middle;
}

ion-item-group[submenu] {
    overflow: hidden;
    display: block;
    max-height: 0px;
    transition: max-height .2s linear;
    &.visible {
      max-height : 150px;
    }
  }

  .menu-toggle-white{
    color: black;
    background-color: white
  }
 
  .toolbar-md-white .toolbar-background-md {
    background: #102455;
}
ion-navbar {
  color: white;
  font-family: Intro !important;
  font-size: 19px;

}
