<ion-header>
  <ion-navbar color="primary-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sugestoes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<div>
    <ion-list>
        <ion-item>
          <ion-label floating>Proprietário</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label floating>CPF/CNPJ</ion-label>
          <ion-input type="text" name="cpf" [brmasker]="{person: true}"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>CEP</ion-label>
            <ion-input type="text" name="cep" [brmasker]="{mask:'00.000-000', len:10}"></ion-input>
          </ion-item>
      </ion-list>

      <div padding>
          <button ion-button block>Salvar</button>
        </div>
      </div>        
      </ion-content>