<!--
  Generated template for the BairrosDetalhePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BairrosDetalhe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div>
        <ion-card class="task">
            COD_BAIRRO:-- {{item["COD_BAIRRO"]}}<br>
            OBS:-- {{item["OBS"]}}<br>
            gid:-- {{item["gid"]}}<br>
            nomebairro:-- {{item["nomebairro"]}}<br>
            <button ion-item (click)="showAlert()">
              the_geom <!--:-- {{item["the_geom"]}}-->
            </button>
        </ion-card>  
      </div>
    

</ion-content>
