<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Imoveis</ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="alterViewNotNetWork == false">
    <ion-searchbar placeholder="Digite o nome da cidade..." (ionInput)="filterItems($event)" [(ngModel)]="searchTerm" showCancelButton (ionCancel)="cancelSearch()">
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="searchByCity()">
        <ion-icon color="light" name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-card class="task" *ngFor="let i of propiedades">
      {{i.nomebairro}}
      {{i.COD_BAIRRO}}
    </ion-card>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Buscando mais bairros...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>