page-properties {

    ion-content {
        background-color: white !important ;
    }
    .segment-md .segment-button.segment-activated{
        border-color: white;
        color: white;
    }

    .segment-md .segment-button {
        color: #4a0069;
    }
      
    .icon-power{
        color: white !important;
        background-color: transparent;
    }
    .toolbar-background-md, .bar-button-default-md{
        border-color: #b2b2b2;
        background: #303F9F;
        color: white;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }
    ion-button{
        border-width: 1px;
        border-style: solid;
        border-color: white !important;
        color: white !important;
        background-color: transparent;
        border-radius: 9px;
        overflow: hidden;
        height: 5.0rem;
        font-size: 1.5rem;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0.4rem 0.2rem;
        padding: 0 2.0em;
    
    }
    ion-searchbar{
        background-color:#f4f4f4 !important;
        color: white !important;
    }
    /*ion-card{
        background-color:#303F9F !important;
        color: white !important;
    }
    ion-item, .item, .item-block, .item-md, .item-input, .ng-untouched, .ng-pristine, .ng-invalid{
        background-color:#303F9F !important;
        color: white !important;}*/
    .text{
        background-color: #fff;
        text-decoration-color: white !important;
        color: white !important;
    }
    .button-add{
        display: block !important;
        margin: 0 auto !important;
        margin-top: 30px !important; 
    }

    .task{
        padding: 6px !important;
    }

    .title-task{
        margin: auto 0 !important;
    }
        .checkbox-md .checkbox-checked {
            border-color: transparent;
            background-color:#303F9F;
        }

        
        .checkbox-md .checkbox-icon {
            border-radius: 30px;
            position: relative;
            width: 32px;
            height: 32px;
            border-width: 2px;
            border-style: solid;
            border-color: #4a0069;
            background-color: transparent;
            -webkit-transition-duration: 280ms;
            transition-duration: 280ms;
            -webkit-transition-property: background;
            transition-property: background;
            -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
        .checkbox-md .checkbox-checked .checkbox-inner {
            left: 11px;
            top: 4px;
            position: absolute;
            width: 7px;
            height: 16px;
            border-width: 2px;
            border-top-width: 0;
            border-left-width: 0;
            border-style: solid;
            border-color: #fff;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .list-void{
            background-color: #fff !important;
            padding: 15px !important;
            color: white!important;
            background-color: transparent !important;
            font-size: 25px !important;
            p{
                margin-top: 0px !important;
                opacity: 0.2 !important;
            }
        }

        .icon-void{
            opacity: 0.2 !important;
            font-size: 150px !important;
        }
        .button{
            border-width: 0.5px;
            //border-style: solid;
            border-color: white !important;
            color: white !important;
            background-color: transparent;
            border-radius: 9px;
            overflow: hidden;
            height: 3.5rem;
            font-size: 1.9rem;
            font-weight: 300;
            text-transform: uppercase;
            margin: 0.0rem 0.0rem;
            padding: 0 0.0em;
        }

        .searchbar-search-icon {display:none; width:0; height:0;}

}