<!--
  Generated template for the LotesCentroidesDetalhePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>lotesCentroides-detalhe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
      <ion-card class="task">
        id  :-- {{item["id"]}}<br>
        nome fanta  :-- {{item["nome fanta"]}}<br>
        razao soci  :-- {{item["razao soci"]}}<br>
        situacao s  :-- {{item["situacao s"]}}<br>
        tipo de in  :-- {{item["tipo de in"]}}<br>
        tipo de pe  :-- {{item["tipo de pe"]}}<br>
        area func :-- {{item["area func"]}}<br>
        bql terren  :-- {{item["bql terren"]}}<br>
        codeco  :-- {{item["codeco"]}}<br>
        codigo c_1  :-- {{item["codigo c_1"]}}<br>
        codigo c_2  :-- {{item["codigo c_2"]}}<br>
        codigo c_3  :-- {{item["codigo c_3"]}}<br>
        codigo c_4  :-- {{item["codigo c_4"]}}<br>
        codigo cna  :-- {{item["codigo cna"]}}<br>
        cpf/cnpj  :-- {{item["cpf/cnpj"]}}<br>
        field_17  :-- {{item["field_17"]}}<br>
        inscrica_1  :-- {{item["inscrica_1"]}}<br>
        inscrica_2  :-- {{item["inscrica_2"]}}<br>
        inscricao  :-- {{item["inscricao"]}}<br>
        inscricao_2  :-- {{item["inscriï¿"]}}<br>
        <button ion-item (click)="openMap()">
            Latitude,Longitude <!--:-- {{item["the_geom"]}}-->
          </button>
      </ion-card>
    </div>

</ion-content>