i<ion-header>
  <ion-navbar color="white">
    <button ion-button menuToggle color="white">
      <ion-icon name="menu" class="menu-toggle-white"></ion-icon>
    </button>
    <ion-title>Comercio</ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="alterViewNotNetWork == false">
    <ion-searchbar placeholder="Digite o nome do Bairro..." (ionInput)="filterItems($event)" [(ngModel)]="searchTerm" showCancelButton (ionCancel)="cancelSearch()">
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="searchByCity()">
        <ion-icon color="white" name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="filter == false">
      <div>
          <ion-card class="task" *ngFor="let i of comercios" (click)="openMap(i)">
            {{i["bairro"]? i["bairro"]: "Sem nome no registro"}}
            {{i["id"]}}
      
          </ion-card>
        </div>
        <ion-infinite-scroll *ngIf="filter == false" (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Buscando mais bairros...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
  </ng-container>
  <ng-container *ngIf="filter == true">
      <div>
          <ion-card class="task" *ngFor="let i of comercios_filter" (click)="openMap(i)">
            {{i["bairro"]? i["bairro"]: "Sem nome no registro"}}
            {{i["id"]}}
      
          </ion-card>
        </div>
        <ion-infinite-scroll *ngIf="filter == true" (ionInfinite)="doInfiniteFilter($event)" >
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Buscando mais bairros...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
  </ng-container>


</ion-content>