<ion-header>
  <ion-navbar color="primary-dark">
    <button ion-button menuToggle color="white">
      <ion-icon name="menu" class="menu-toggle-white"></ion-icon>
    </button>
    <ion-title>Economico</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="height: 100%;" id="map_canvas"></div> 
</ion-content>